#board {
  display: grid;
  gap: 2px;
  margin-bottom: 20px;
}
.coin-cell {
  width: 60px;
  height: 60px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.coin-wall {
  background: #555;
  border: 2px inset #333;
  z-index: -1;
  box-shadow: inset 0 0 5px #111;
}
.coin-empty {
  background: transparent;
}
.highlight {
  outline: 3px solid purple;
  cursor: pointer;
}
.coin {
  cursor: grab;
  width: 60px;
  height: 60px;
  z-index: 5;
}
.coin.selected {
  animation: pulse 1s infinite;
  z-index: 10;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
