.potion-container {
  width: 100px;
  height: 200px;
  border: 2px solid #333;
  margin: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #eee;
}

.potion-container-wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#potion-container-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.liquid {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #3498db;
  text-align: center;
  color: white;
  font-weight: bold;
}
.selected {
  border-color: red;
}
.label {
  font-weight: bold;
  margin-bottom: 5px;
}
